.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #6A5ACD;
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: pink;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  .menuClose{
      position: absolute;
      display: none;
      top: 10px;
      right: 10px;
      color: #6A5ACD;
      
  }

  .overlay-content .socialM {
    display: none;
    justify-content: center;
  }
  .overlay-content .socialM a {
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .overlay-content p {
    margin-top: 0;
    display: none;
  }
  .overlay-content .phoneN {
    display: none;
  }
  @media screen and (max-width: 1024px){
      .menuClose{
          display: block;
      }
      #main-header {
          display: none;
      }
      #top-head{
          margin-top: 20px;
          width: 90%;
      }
      #second-two-block {
        height: 610px;
      }
      .nameSurname,.aboutName{
        width: 100%;
      }
      #second-banner, #main-body-banner, #third-banner, #fourth-banner {
        background-attachment: unset;
      }
      .story1-reverse {
        flex-direction: column-reverse;
      }
    }
    @media screen and (max-width: 940px) {
      .two-blocks-info p {
        padding: 0 20px;
      }
    }
    @media screen and (max-width: 905px){
      #top-head  {
        flex-wrap: wrap;
      }
      #top-head div {
        display: flex;
        width: 50%;
        justify-content: center;
      }
    }
    @media screen and (max-width:830px){
      #two-blocks {
        flex-direction: column-reverse;
        height: auto;
      }
      .two-blocks-info {
        width: 100%;
        padding: 20px 20px 40px 20px;
      }
      .imgB {
        width: 100%;
        height: 68vw;
        background-color: rgba(102, 61, 207, 0.4);
      }
      .imgB img {
        object-fit: contain;
      }
      #second-two-block {
        flex-direction: column;
        height: auto;
      }
      #third-two-block {
        flex-direction: column-reverse;
        height: auto;
      }
      #main-footer {
        width: 90%;
      }
      
    }
    @media screen and (max-width: 600px) {
      #top-head p, #top-head .phoneN, #top-head .socialM {
        display: none;
      }
      .overlay-content .socialM {
        display: flex;
      }
      .overlay-content .phoneN, .overlay-content p {
        display: block;
      }
      .overlay-content {
        top: 13%;
      }
      #top-head {
        width: 100%;
      }
      #top-head div {
        width: 100%;
        justify-content: flex-start;
        padding-left: 20px;
      }
      .menuClose {
        top: -3px;
      }
      #iframe {
        width: 90%;
        max-width: 90%;
      }
      #second-banner, #third-banner, #fourth-banner {
        height: 550px;
      }
      #second-banner h3, #third-banner h3, #fourth-banner h3 {
        font-size: 75px;
      }
      #main-footer {
        flex-direction: column-reverse;
      }
      #donate {
        margin: 20px 0;
      }
      #address {
        text-align: center;
      }
      .hey1 {
        font-size: 6em;
      }
    }

    @media screen and (max-width: 479px) {
      .imgB {
        height: auto;
        display: flex;
      }
      .two-blocks-info p {
        padding: 0;
      }
      .hey1 {
        font-size: 4em;
      }
      .story1 p {
        padding-left: 1em;
        padding-right: 1em;
      }
      .story1 {
        margin: 0;
      }
    }

    @media screen and (max-width: 380px) {
      #fourth-banner h3 {
        font-size: 60px;
      }
    }
  
    @media screen and (max-height: 450px) {
      .overlay a {font-size: 20px}
      .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
      }
    }
 
  