.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #6A5ACD;
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: pink;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  .menuClose{
      position: absolute;
      display: none;
      top: 10px;
      right: 10px;
      color: #6A5ACD;
      
  }
  @media screen and (max-width: 1024px){
      .menuClose{
          display: block;
      }
      #main-header {
          display: none;
      }
      #top-head{
          margin-top: 20px;
          width: 90%;
      }
      #second-two-block {
        height: 610px;
      }
      .nameSurname,.aboutName{
        width: 100%;
      }
    }
    @media screen and (max-width: 940px) {
      .two-blocks-info p {
        padding: 0 20px;
      }
    }
    @media screen and (max-width: 905px){
      #top-head  {
        flex-wrap: wrap;
      }
      #top-head div {
        display: flex;
        width: 50%;
        justify-content: center;
      }
    }
    @media screen and (max-width:830px){
      #two-blocks {
        flex-direction: column-reverse;
        height: auto;
      }
      
    }
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }
 
  